In [29]:
# dataset : https://www.kaggle.com/rounakbanik/the-movies-dataset?select=movies_metadata.csv
# 45000개 영화 / 27만명 / 2600만개 평가

In [30]:
# 내가 재밌게 본 영화와 다른 사용자들의 평가간의 상관관계를 통한 영화추천(correlation 이용)

In [31]:
import numpy as np 
import pandas as pd
import json

In [32]:
meta = pd.read_csv('the-movies-dataset/movies_metadata.csv')

meta.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [33]:
meta = meta[['id', 'original_title', 'original_language', 'genres']]
meta = meta.rename(columns={'id':'movieId'})
# movie_id : 사용자 평가 데이터와 연결할때 인덱스 값으로 사용(기존 id columm을 이름변경)
meta = meta[meta['original_language'] == 'en']
meta.head()

  movieId  ...                                             genres
0     862  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    8844  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2   15602  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3   31357  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4   11862  ...                     [{'id': 35, 'name': 'Comedy'}]

[5 rows x 4 columns]

In [34]:
ratings = pd.read_csv('the-movies-dataset/ratings_small.csv')
ratings = ratings[['userId', 'movieId', 'rating']]
# ratings의 movieid와 metadata의 movieid와 매칭
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [35]:
ratings.describe()
# rating은 최소 0.5 최대 5.0

              userId        movieId         rating
count  100004.000000  100004.000000  100004.000000
mean      347.011310   12548.664363       3.543608
std       195.163838   26369.198969       1.058064
min         1.000000       1.000000       0.500000
25%       182.000000    1028.000000       3.000000
50%       367.000000    2406.500000       4.000000
75%       520.000000    5418.000000       4.000000
max       671.000000  163949.000000       5.000000

In [36]:
meta.movieId = pd.to_numeric(meta.movieId, errors='coerce')
# string type data를 숫자형태로 변환
ratings.movieId = pd.to_numeric(ratings.movieId, errors='coerce')

In [37]:
# json 형태의 file을 배열 형태로 변환 json 형태의 file을 배열 형태로 변환
def parse_genres(genres_str):
    genres = json.loads(genres_str.replace('\'', '"'))
    
    genres_list = []
    for g in genres:
        genres_list.append(g['name'])

    return genres_list

meta['genres'] = meta['genres'].apply(parse_genres)

# apply함수를 통해 genres를 새로운 genres_list안에 입력
meta.head()

   movieId  ...                        genres
0      862  ...   [Animation, Comedy, Family]
1     8844  ...  [Adventure, Fantasy, Family]
2    15602  ...             [Romance, Comedy]
3    31357  ...      [Comedy, Drama, Romance]
4    11862  ...                      [Comedy]

[5 rows x 4 columns]

In [38]:
data = pd.merge(ratings, meta, on='movieId', how='inner')
# movieid 기준으로 table merge

data.head()

   userId  movieId  rating original_title original_language   genres
0       1     1371     2.5      Rocky III                en  [Drama]
1       4     1371     4.0      Rocky III                en  [Drama]
2       7     1371     3.0      Rocky III                en  [Drama]
3      19     1371     4.0      Rocky III                en  [Drama]
4      21     1371     3.0      Rocky III                en  [Drama]

In [39]:
matrix = data.pivot_table(index='userId', columns='original_title', values='rating')
# merge table을 토대로 pivot_table 형성
matrix.head(20)
# user가 모든 영화를 다보지않았기때문에다
# 보지않은 경우 평점이 NAN이다다

original_title  !Women Art Revolution  ...  Мой сводный брат Франкенштейн
userId                                 ...
1                                 NaN  ...                            NaN
2                                 NaN  ...                            NaN
3                                 NaN  ...                            NaN
4                                 NaN  ...                            NaN
5                                 NaN  ...                            NaN
6                                 NaN  ...                            NaN
7                                 NaN  ...                            NaN
8                                 NaN  ...                            NaN
9                                 NaN  ...                            NaN
10                                NaN  ...                            NaN
11                                NaN  ...                            NaN
12                                NaN  ...                            NaN
13                                NaN  ...                            NaN
14                                NaN  ...                            NaN
15                                NaN  ...                            NaN
16                                NaN  ...                            NaN
17                                NaN  ...                            NaN
18                                NaN  ...                            NaN
19                                NaN  ...                            NaN
20                                NaN  ...                            NaN

[20 rows x 2034 columns]

In [40]:
# Pearson Correlation
# https://namu.wiki/w/%EC%83%81%EA%B4%80%20%EA%B3%84%EC%88%98?from=%ED%94%BC%EC%96%B4%EC%8A%A8%20%EC%83%81%EA%B4%80%20%EA%B3%84%EC%88%98#s-2
# ex) 두 유저가 영화 1과 영화 2를 보았을때 각각의 평점이 (5.0,4.5), (4.5,1.5) 라고한다
# (4.5,1.5) 평점의 차이가 큰 이 유저의 영화 1,2는 다른 장르라고 할 수 있다.
# 영화1의평균(s1) / 영화2의평균(s2)을 각 컬럼에서 빼준다. 
# 빼준 값을 s1_c / s2_c라고할때 각각을 곱한다. 양의 상관관계와 음의 상관관계를 확인할수 있다.
# 그리하여 s1_c / s2_c라고할때 각각을 곱한 값을 토대로 상관관계를 확인한다.

In [41]:
GENRE_WEIGHT = 0.1

def pearsonR(s1, s2):
  # 각각의 영화에서 평균 값을 뺀다
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    # 분자가 클수록 상관관계가 양에 가깝다.
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

# 추천함수
def recommend(input_movie, matrix, n, similar_genre=True):
    input_genres = meta[meta['original_title'] == input_movie]['genres'].iloc(0)[0]

    result = []
    for title in matrix.columns:
        if title == input_movie:
          # 똑같은 영화를 추천받는경우
            continue

        # 평가 비교
        cor = pearsonR(matrix[input_movie], matrix[title])
        
        # 장르 비교
        if similar_genre and len(input_genres) > 0:
            temp_genres = meta[meta['original_title'] == title]['genres'].iloc(0)[0]
            
            # 선택된 장르와 input장르가 비교해서 동일 횟수를 기록하여 가중치에 참고                            
            same_count = np.sum(np.isin(input_genres, temp_genres))
            cor += (GENRE_WEIGHT * same_count)
        
        if np.isnan(cor):
            continue
        else:
            result.append((title, '{:.2f}'.format(cor), temp_genres))
            
    result.sort(key=lambda r: r[1], reverse=True)
    # rating 내림차순으로 정렬

    return result[:n]

In [42]:
recommend_result = recommend('The Dark Knight', matrix, 10, similar_genre=True)
# dark night을 보고 비슷한 장르로 10개의 영화를 추천

pd.DataFrame(recommend_result, columns = ['Title', 'Correlation', 'Genre'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in double_scalars

                                         Title  ...                                              Genre
0                                   Prom Night  ...                        [Horror, Mystery, Thriller]
1                               Wild Wild West  ...  [Action, Adventure, Comedy, Science Fiction, W...
2                                 Blue Thunder  ...  [Science Fiction, Action, Thriller, Crime, Drama]
3                                        Topaz  ...                 [Action, Drama, Mystery, Thriller]
4  Yamakasi - Les samouraïs des temps modernes  ...                             [Action, Crime, Drama]
5                                  Best Seller  ...                   [Action, Crime, Drama, Thriller]
6      Midnight in the Garden of Good and Evil  ...                  [Crime, Drama, Mystery, Thriller]
7                                 Big Bad Mama  ...                     [Action, Comedy, Crime, Drama]
8                                 The Enforcer  ...                          [Action, Crime, Thriller]
9                               The River Wild  ...               [Action, Adventure, Crime, Thriller]

[10 rows x 3 columns]